/* Green color definitions! */
/* LiveCourse HTML 5 Interface Mockup */
/* Uses LESS! Needs to be compiled with lessc before changes will take effect. */
body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}
input,
textarea {
  border: 0;
  border-bottom: 3px solid #2e7e3b;
  background-color: #dae6dc;
  resize: none;
}
input[type="submit"],
button {
  background-color: #2e7e3b;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}
input[type="submit"]:active,
button:active {
  background-color: #fff;
  border-color: #2e7e3b;
  color: #2e7e3b;
}
#GlobalLoadingIndicator {
  /*display:none;*/

  position: fixed;
  top: -20px;
  left: 0px;
  right: 0px;
  height: 20px;
  z-index: 9999;
  background-image: url("../img/progressbar_white.gif");
}
#TopBar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 64px;
  padding: 0 18px;
  background-color: #2e7e3b;
  z-index: 1;
}
#TopBar img.logo {
  padding: 8px;
  float: left;
}
#TopBar div.classTitle {
  padding: 8px 8px 8px 24px;
  font-family: 'cicle', sans-serif;
  font-size: 42px;
  color: #fff;
  float: left;
  cursor: pointer;
}
#TopBar div.classTitle img {
  padding-left: 6px;
  vertical-align: middle;
}
#TopBar div.userInfo {
  padding: 18px 0;
  font-family: 'cicle', sans-serif;
  font-size: 26px;
  color: #b8e5bf;
  float: right;
  cursor: pointer;
}
#TopBar div.userInfo:hover {
  color: #fff;
}
#TopBar div.userInfo img {
  padding-left: 12px;
  padding-right: 16px;
  vertical-align: middle;
}
#TopBar ul.switcher {
  list-style-type: none;
  padding: 0;
  float: left;
  height: 32px;
  margin: 28px 2px 0px 20px;
}
#TopBar ul.switcher li {
  float: left;
  margin: 0 12px;
  opacity: 0.2;
}
#TopBar ul.switcher li:hover {
  opacity: 0.8;
}
#TopBar ul.switcher li.selected {
  opacity: 1.0 !important;
}
#TopBar ul.options {
  list-style-type: none;
  padding: 0;
  float: right;
  width: 20px;
  margin: 10px 2px;
}
#TopBar ul.options a {
  opacity: 1.0;
}
#TopBar ul.options a:hover {
  opacity: 0.4;
}
#TopBar ul.options a img {
  border: 0;
}
#CourseSelector {
  display: none;
  position: absolute;
  background-color: #2e7e3b;
  top: 64px;
  left: 82px;
  width: 260px;
  min-height: 60px;
  max-height: 320px;
  text-align: center;
  padding: 2px 2px 12px 2px;
  overflow-y: auto;
  /* padding-top:32px; */

}
#CourseList {
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
  text-align: left;
}
#CourseList li {
  cursor: pointer;
  padding: 8px 8px 8px 16px;
}
#CourseList li:hover {
  border-left: 6px solid #b8e5bf;
  padding-left: 10px;
}
#CourseList li.selected:hover {
  border-left: 6px solid #2e7e3b;
  padding-left: 10px;
}
#CourseList li.selected {
  cursor: pointer;
  background-color: #b8e5bf;
}
#CourseList li .title {
  color: #fff;
  font-size: 18px;
}
#CourseList li .subTitle {
  color: #fff;
  font-size: 14px;
}
#CourseList li.selected .title {
  color: #2e7e3b;
  font-size: 18px;
}
#CourseList li.selected .subTitle {
  color: #2e7e3b;
  font-size: 14px;
}
a.buttonLink {
  font-family: 'cicle';
  font-size: 24px;
  color: #fff;
}
a.buttonLink:hover {
  color: #b8e5bf;
}
#AuxiliaryButtons {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  height: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#AuxiliaryButtons li {
  display: block;
  float: left;
  margin: 0 8px;
  opacity: 0.7;
}
#AuxiliaryButtons li a img {
  border: none;
}
#AuxiliaryButtons li:hover {
  opacity: 0.9;
}
#SideBar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 256px;
  background-color: #b8e5bf;
  overflow-y: auto;
}
#RightSideBar h1 {
  text-align: left;
  font-family: 'cicle';
  font-size: 36px;
  color: #2e7e3b;
  margin: 0.4em 0 18px 32px;
}
#UserList {
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
  text-align: left;
}
#UserList li {
  padding: 8px 8px 8px 40px;
  color: #2e7e3b;
  font-size: 16px;
  cursor: pointer;
}
#UserList li:hover {
  background-color: #2e7e3b;
  color: #b8e5bf;
  border-color: #b8e5bf;
}
#UserList li.selected {
  background-color: #b8e5bf;
}
#UserList li.me {
  font-weight: bold;
}
#UserList li.online {
  border-right: 6px solid #2e7e3b;
}
#UserList li.idle {
  border-right: 2px solid #2e7e3b;
}
#UserList li.ignored {
  text-decoration: line-through;
  opacity: 0.3;
}
#ChatFrame {
  position: fixed;
  left: 256px;
  right: 0px;
  top: 0;
  bottom: 64px;
}
#ChatFrame h1 {
  font-family: 'cicle';
  font-size: 68px;
  color: #2e7e3b;
  margin-top: 0;
  margin-left: 36px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
}
/* TODO: On-resize, set top to the (dynamic) height of the chatframeheader. */
#ChatFrame #ChatMessages,
#ChatFrame #HistoryMessages {
  position: absolute;
  z-index: 0;
  top: 70px;
  left: 24px;
  right: 12px;
  bottom: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}
#ChatFrame #HistoryMessages {
  display: none;
}
#ChatFrame #HistoryMessages h2 {
  margin-top: 64px;
  font-family: 'cicle', sans-serif;
  text-align: center;
  font-size: 32px;
  color: #b8e5bf;
}
#ChatFrame #HistoryDateSelect {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 32px;
  font-size: 22px;
  padding: 6px;
  text-align: center;
  display: none;
}
#ChatFrame #HistoryDateSelect a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
}
#ChatFrame #HistoryDateSelect a:hover {
  color: #2e7e3b;
  opacity: 1.0;
}
#ChatFrame #ChatMessages ul,
#ChatFrame #HistoryMessages ul {
  position: relative;
  list-style-type: none;
  text-align: left;
}
#ChatFrame #ChatMessages ul li.spacer,
#ChatFrame #HistoryMessages ul li.spacer {
  height: 480px;
}
#ChatFrame #ChatMessages ul li,
#ChatFrame #HistoryMessages ul li {
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  margin: 6px 0;
}
#ChatFrame #ChatMessages ul li .messageContainer,
#ChatFrame #HistoryMessages ul li .messageContainer {
  overflow: hidden;
  /* Makes #outer contain its floated children */

  width: 100%;
  float: left;
  /* width:100%; */

}
#ChatFrame #ChatMessages ul li .timestamp img,
#ChatFrame #HistoryMessages ul li .timestamp img {
  opacity: 0.2;
  cursor: pointer;
}
#ChatFrame #ChatMessages ul li .timestamp img:hover,
#ChatFrame #HistoryMessages ul li .timestamp img:hover {
  opacity: 1.0;
}
#ChatFrame #ChatMessages ul li .message,
#ChatFrame #HistoryMessages ul li .message {
  overflow: hidden;
  margin-left: 16px;
  padding-right: 56px;
}
#ChatFrame #ChatMessages ul li .timestamp,
#ChatFrame #HistoryMessages ul li .timestamp {
  font-size: 12px;
  color: #555;
  float: right;
  text-align: right;
  padding-right: 56px;
}
#ChatFrame #ChatMessages ul li .author,
#ChatFrame #HistoryMessages ul li .author {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin-top: 16px;
  color: #2e7e3b;
}
#ComposeFrame {
  position: fixed;
  right: 0px;
  left: 256px;
  bottom: 4px;
  height: 64px;
  text-align: center;
}
#ComposeFrame textarea {
  width: 80%;
  height: 42px;
  min-width: 256px;
  font-size: 16px;
  padding: 8px;
  font-family: sans-serif;
}
#NotesFrame {
  position: fixed;
  padding: 16px;
  top: 64px;
  right: 0px;
  bottom: 0px;
  width: 640px;
  display: none;
  background-color: #b8e5bf;
  overflow-y: auto;
}
#NotesFrame h1 {
  color: #2e7e3b;
  font-family: 'cicle', sans-serif;
  margin: 6px 0 6px 16px;
  font-size: 46px;
}
#NotesFrame ul.notes li {
  font-family: sans-serif;
  font-size: 16px;
}
#NotesFrame ul.notes li.top {
  list-style: none;
}
#NotesFrame ul.notes li.add {
  list-style: none;
  font-size: 12px;
  opacity: 0.6;
  cursor: pointer;
}
#NotesFrame ul.notes li.add:hover {
  opacity: 1.0;
}
#NotesFrame ul.notes li.top span {
  color: #2e7e3b;
  font-family: 'cicle', sans-serif;
  font-size: 28px;
}
#form_login {
  text-align: center;
  margin: 80px 0 0 128px;
  float: left;
}
#dialog_login img.logo_large {
  float: left;
  padding: 64px 24px 0 100px;
}
#form_registration {
  text-align: center;
  margin-top: 48px;
}
#form_joinroom {
  text-align: left;
  width: 275px;
  float: left;
}
#joinroom_results {
  width: 665px;
  height: 394px;
  text-align: center;
  font-size: 22px;
  float: right;
  overflow-y: auto;
}
#joinroom_results ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
#joinroom_results ul li {
  cursor: pointer;
  text-align: center;
  width: 278px;
  padding: 12px 8px;
  font-size: 16px;
  margin: 12px;
  border: 3px dashed #b8e5bf;
  /* background-color:@color_secondary; */

  /* color:@color_primary; */

  color: #b8e5bf;
  display: block;
  float: left;
}
#joinroom_results ul li.joined {
  border: 3px solid #b8e5bf !important;
  color: #2e7e3b !important;
  background-color: #b8e5bf !important;
}
#joinroom_results ul li.joined .name {
  color: #2e7e3b !important;
}
#joinroom_results ul li:hover {
  border-color: #fff;
}
#joinroom_results ul li .name {
  font-size: 24px;
  font-family: 'cicle', sans-serif;
  font-weight: bold;
  color: #fff;
}
#form_flag {
  text-align: center;
  margin-top: 64px;
}
#color_selection {
  width: 156px;
  list-style-type: none;
  padding: 0;
  text-align: left;
}
#color_selection li {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  margin: 8px;
  cursor: pointer;
}
#color_selection li.selected {
  border-color: #000;
}
.large_form input::-webkit-input-placeholder {
  color: #b8e5bf;
}
.large_form input::-moz-placeholder {
  color: #b8e5bf;
}
.large_form input:-ms-input-placeholder {
  color: #b8e5bf;
}
.large_form input {
  width: 256px;
  font-size: 24px;
  padding: 5px 8px;
  margin: 16px 0;
  background-color: #2e7e3b;
  color: #fff;
}
.large_form input:disabled {
  color: #b8e5bf;
}
.large_form input[type="email"],
.large_form input[type="text"],
.large_form input[type="password"] {
  border-bottom: 3px solid #b8e5bf;
}
.large_form input[type="email"]:hover,
.large_form input[type="text"]:hover,
.large_form input[type="password"]:hover,
.large_form input[type="email"]:focus,
.large_form input[type="text"]:focus,
.large_form input[type="password"]:focus {
  outline-width: 0;
  border-color: #fff;
}
.large_form input[type="submit"],
.large_form button {
  width: 256px;
  font-size: 20px;
  margin: 6px 0;
}
.large_form button {
  font-size: 16px;
}
.large_form input[type="submit"]:active,
.large_form button:active {
  background-color: #fff;
  border-color: #2e7e3b;
  color: #2e7e3b;
}
.large_form input.invalid,
.large_form input.invalid:active {
  border-bottom: 3px solid #e54545 !important;
  /* #e5b8b8 */

}
.large_form input[type="password"].half {
  width: 120px;
}
/* AJAX Message Dialog */
.DialogOverlay {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../img/white_opacity_80.png);
  z-index: 10;
}
.DialogContainer {
  display: none;
  position: absolute;
  width: 100%;
  top: 50%;
  height: 512px;
  margin-top: -282px;
  /* negative half of the height */

  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #2e7e3b;
  color: #ffffff;
}
.DialogContainer.error {
  background-color: #7e2e2e;
}
.DialogContainer h1 {
  width: 950px;
  height: 64px;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-size: 54px;
  font-family: 'cicle';
  font-weight: bold;
  overflow: hidden;
}
.DialogContainer .status_message {
  display: none;
  text-align: center;
  font-size: 22px;
  font-family: 'cicle';
}
.DialogContainer .buttons {
  position: relative;
  width: 950px;
  height: 40px;
  margin: 4px auto 0 auto;
  text-align: right;
}
.DialogMessage {
  position: relative;
  height: 410px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
}
.DialogMessage a {
  display: inline;
}
#dialog_profile #user_icon {
  background-color: #b8e5bf;
  padding: 32px;
  margin-top: 24px;
  height: 322px;
  float: left;
}
#dialog_profile #user_icon img {
  max-width: 400px;
  max-height: 322px;
}
#dialog_profile #class_list {
  float: left;
  margin-left: 32px;
  margin-top: 32px;
}
#dialog_profile #class_list h2 {
  font-family: 'cicle';
  font-size: 40px;
  margin: 0;
}
#dialog_info div.pane {
  width: 310px;
  float: left;
  margin: 0 3px;
  margin-left: 36px;
  padding-top: 24px;
}
#dialog_info div.pane h2 {
  font-family: 'cicle';
  font-size: 40px;
  margin: 10px 0;
}
